
filter {

  # add any global tags
  {% set tags = salt['pillar.get']('logstash:tags', []) %}
  {% if tags is defined and tags|length > 0 %}
  mutate {
    'add_tag' => ['{{ tags | join("', '") }}']
  }
  {% endif %}

  # Common Post Filters
  grep {
    'drop' => true
    'match' => ['@message', '^$']
    'negate' => true
  }

}
