input {
  tcp {
    type => "tcp-plain"
    host => "0.0.0.0"
    port => "5959"
  }

  udp {
    type => "udp-plain"
    host => "0.0.0.0"
    port => "5959"
  }

  tcp {
    type => "tcp-json"
    host => "0.0.0.0"
    port => "5960"
    format => 'json_event'
  }

  udp {
    type => "udp-json"
    host => "0.0.0.0"
    port => "5960"
    format => 'json_event'
  }
}
